Repository nvidia-cosmos/cosmos-reason2: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock, uv-lock-script

uv-lock:
  name: Generate uv lock files for projects
  entry: ./bin/uv_lock.sh
  language: script

uv-lock-script:
  name: Generate uv lock files for scripts
  entry: ./bin/uv_lock_script.sh
  language: script

Fix dependencies.
  README.md
Due: none

Add dockerfile.
  Dockerfile
  README.md
  bin/uv_lock.sh
  cosmos_reason2_utils/requirements.txt
  cosmos_reason2_utils/uv.lock
  docker/entrypoint.sh
  examples/cosmos_rl/requirements.txt
  examples/cosmos_rl/uv.lock
  justfile
  requirements.txt
Due: none

Add license to linting.
  ATTRIBUTIONS.md
  justfile
Due: none

Document dockerfile.
  ATTRIBUTIONS.md
  README.md
  assets/outputs/caption.log
  assets/outputs/embodied_reasoning.log
  assets/outputs/sample.log
  assets/outputs/temporal_localization.log
  cosmos_reason2_utils/cosmos_reason2_utils/script/inference.py
  cosmos_reason2_utils/cosmos_reason2_utils/text.py
  justfile
  pyproject.toml
  uv.lock
Due: uv-lock, uv-lock-script

Fix cosmos-rl dataset
  README.md
  cosmos_reason2_utils/cosmos_reason2_utils/text_test.py
  cosmos_reason2_utils/pyproject.toml
  examples/cosmos_rl/README.md
  examples/cosmos_rl/pyproject.toml
  examples/cosmos_rl/requirements.txt
  examples/cosmos_rl/scripts/hf_sft.py
  examples/cosmos_rl/scripts/llava_sft.py
  examples/cosmos_rl/uv.lock
  uv.lock
Due: uv-lock, uv-lock-script

Document post-training.
  .gitattributes
  ATTRIBUTIONS.md
  Dockerfile
  README.md
  assets/outputs/cosmos_rl_llava_sft/console.log
  assets/outputs/cosmos_rl_llava_sft/controller.log
  assets/outputs/cosmos_rl_llava_sft/policy_0.log
  examples/cosmos_rl/README.md
  justfile
Due: none

Add post-training to readme.
  README.md
Due: none

Add cosmos-rl wrapper.
  cosmos_reason2_utils/cosmos_reason2_utils/script/inference.py
  cosmos_reason2_utils/cosmos_reason2_utils/script/train.py
  cosmos_reason2_utils/cosmos_reason2_utils/train.py
  cosmos_reason2_utils/pyproject.toml
  examples/cosmos_rl/README.md
  examples/cosmos_rl/configs/sft.toml
  examples/cosmos_rl/scripts/convert_llava.py
  examples/cosmos_rl/scripts/llava_sft.py
  examples/cosmos_rl/scripts/sft.py
  examples/cosmos_rl/uv.lock
  uv.lock
Due: uv-lock, uv-lock-script

Thor support.
  README.md
  docs/troubleshooting.md
  justfile
Due: none

Improve readme.
  README.md
  docs/llmcompressor.md
Due: none

vLLM 13
  .markdownlint.yaml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  cosmos_reason2_utils/pyproject.toml
  examples/cosmos_rl/uv.lock
  examples/notebooks/uv.lock
  uv.lock
Due: uv-lock

Improve documentation for edge devices.
  README.md
  docs/troubleshooting.md
  justfile
Due: none

KV cache quant, fix tokenizer, fix max model len
  scripts/quantize.py
Due: uv-lock-script

Config patches
  scripts/quantize.py
Due: uv-lock-script

add IntBot showcase
  intbot_showcase/README.md
  intbot_showcase/assets/IntBot-GTC-reception.jpg
  intbot_showcase/assets/IntBot-GTC.jpg
  intbot_showcase/assets/Test1-fistbump.jpeg
  intbot_showcase/assets/Test2-Laterial-Throw.jpeg
  intbot_showcase/assets/Test2-Post-throw-recovery.jpeg
  intbot_showcase/assets/Test2-Spin-and-Throw.jpeg
  intbot_showcase/assets/Test2-Spin.jpeg
  intbot_showcase/assets/Test2-Throw-Prep.jpeg
  intbot_showcase/assets/Test2-Toss-Up.jpeg
  intbot_showcase/assets/Test2-side-throw-away.jpeg
  intbot_showcase/assets/Test3-MultiPerson-Spatial-Reasoning.jpeg
  intbot_showcase/assets/Test4-Two-Person-Handshake.jpeg
Due: none

Dynamic FP8 option
  scripts/quantize.py
Due: uv-lock-script

Fix vllm version recommendation in README
  README.md
Due: none

style: lint and comments
  scripts/quantize.py
Due: uv-lock-script

ARM torchcodec.
  .pre-commit-config.yaml
  .python-version
  README.md
  cosmos_reason2_utils/.python-version
  cosmos_reason2_utils/pyproject.toml
  examples/cosmos_rl/.python-version
  examples/cosmos_rl/uv.lock
  examples/notebooks/.python-version
  examples/notebooks/README.md
  examples/notebooks/pyproject.toml
  examples/notebooks/uv.lock
  justfile
  uv.lock
Due: uv-lock

ARM torchcodec. (#36)
  .pre-commit-config.yaml
  .python-version
  README.md
  cosmos_reason2_utils/.python-version
  cosmos_reason2_utils/pyproject.toml
  examples/cosmos_rl/.python-version
  examples/cosmos_rl/uv.lock
  examples/notebooks/.python-version
  examples/notebooks/README.md
  examples/notebooks/pyproject.toml
  examples/notebooks/uv.lock
  justfile
  uv.lock
Due: uv-lock

Fix arm inference sample.
  cosmos_reason2_utils/pyproject.toml
  examples/cosmos_rl/uv.lock
  examples/notebooks/uv.lock
  scripts/inference_sample.py
  scripts/inference_sample.py.lock
  uv.lock
Due: uv-lock, uv-lock-script

Fix arm inference sample. (#39)
  cosmos_reason2_utils/pyproject.toml
  examples/cosmos_rl/uv.lock
  examples/notebooks/uv.lock
  scripts/inference_sample.py
  scripts/inference_sample.py.lock
  uv.lock
Due: uv-lock, uv-lock-script

upgrading cosmos-rl version to 0.3.9
  ci/license-requirements.txt
  cosmos_reason2_utils/pyproject.toml
  uv.lock
Due: uv-lock

Update lock file with new dependencies
  examples/cosmos_rl/uv.lock
Due: none

upgrading cosmos-rl version to 0.3.9
  examples/notebooks/uv.lock
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/sa-issue-template.md
Due: none

Clean up quantization logs
  README.md
  assets/outputs/quantize.log
  scripts/quantize.py
Due: uv-lock-script

fix lint
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

add quantization arg description
  docs/llmcompressor.md
Due: none

silence all warnings
  scripts/quantize.py
Due: uv-lock-script

suppress all warnings
  scripts/quantize.py
Due: uv-lock-script

Remove loguru logger from quantize.py
  scripts/quantize.py
Due: uv-lock-script

fix lint
  scripts/quantize.py
Due: uv-lock-script

Move downloads to beginning of quantize script
  scripts/quantize.py
Due: uv-lock-script

address comments
  scripts/quantize.py
Due: uv-lock-script

add error logs for cosmos rl scripts
  examples/cosmos_rl/scripts/hf_sft.py
  examples/cosmos_rl/scripts/llava_sft.py
Due: uv-lock-script

simplify download
  scripts/quantize.py
Due: uv-lock-script

refactor error handling
  examples/cosmos_rl/scripts/hf_sft.py
  examples/cosmos_rl/scripts/llava_sft.py
Due: uv-lock-script

add large file warning
  examples/cosmos_rl/README.md
Due: none

Add Jetson AGX Orin support with jp6 extra
  README.md
  cosmos_reason2/__init__.py
  cosmos_reason2_utils/pyproject.toml
  docs/jetson-orin-setup.md
  pyproject.toml
  uv.lock
Due: uv-lock, uv-lock-script

Path conditions:
  uv-lock: any of: pyproject\.toml$, but not: (?x)( ^assets/ )
  uv-lock-script: any of: \.py$, but not: (?x)( ^assets/ )
